<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="whichenv" value="prod"></parameter>
  <test name="Test">
    <classes>
      <class name="com.scp.invoice.I1Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
